#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [4]:
import pandas as pd

In [5]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [6]:
df.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [7]:
df.groupby('Branch')['gross income'].agg(["sum"])

              sum
Branch
A       5057.1605
B       5057.0320
C       5265.1765

–ù–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–æ—é —î —Ñ—ñ–ª—ñ—è –° (Naypyitaw). –§—ñ–ª—ñ—ó –ê —Ç–∞ –í –º–∞—é—Ç—å –ø—Ä–∏–±–ª–∏–∑–Ω–æ –æ–¥–Ω–∞–∫–æ–≤–∏–π –ø–æ–∫–∞–∑–Ω–∏–∫ —Å—É–º–∞—Ä–Ω–æ–≥–æ–ø—Ä–∏–±—É—Ç–∫—É.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [8]:
df.sort_values(by="gross income", ascending=False).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.3,10,49.65,1042.65,2/15/2019,14:53,Credit card,993.0,4.761905,49.65,6.6

–ù–∞–π–≤–∏—â–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞—Ñ—ñ–∫—Å–æ–≤–∞–Ω–æ –≤ –º—ñ—Å—Ç—ñ Naypyitaw, —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ —Ç–∞–º —Ç–∞–∫–æ–∂ –Ω–∞–π–≤–∏—â–∏–π. –í –ø–æ–ø–µ—Ä–µ–¥–Ω—å–æ–º—É –¥–æ—Å–ª—ñ–¥–∂–µ–Ω–Ω—ñ –º–∏ –≤–∏—è–≤–∏–ª–∏, —â–æ –≤ —Ü—å–æ–º—É –º—ñ—Å—Ç—ñ —ñ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –±—ñ–ª—å—à–∏–π, —ñ –æ–¥–Ω–æ—á–∞—Å–Ω–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø—Ü—ñ–≤ –º–µ–Ω—à–∞. –û–¥–Ω–∞–∫, —Ä–æ–∑–º—ñ—â–µ–Ω–Ω—è —â–µ –æ–¥–Ω–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É —î –ø–µ—Ä—Å–ø–µ–∫—Ç–∏–≤–Ω–∏–º –ª–∏—à–µ –ø—ñ—Å–ª—è –æ—Ü—ñ–Ω–∫–∏ –∑–∞–≥–∞–ª—å–Ω–æ—ó –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –º–µ—à–∫–∞–Ω—Ü—ñ–≤ (—î–º–Ω—ñ—Å—Ç—å —Ä–∏–Ω–∫—É), –∞ —Ç–∞–∫–æ–∂ —Ä–æ–±–æ—Ç–∏ –∫–æ–Ω–∫—É—Ä–µ–Ω—Ç—ñ–≤. –ú–æ–∂–ª–∏–≤–æ, –∑–∞–º—ñ—Å—Ç—å –Ω–æ–≤–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É –ø–æ—Ç—Ä—ñ–±–Ω–æ –∑–∞–ª—É—á–∏—Ç–∏ –±—ñ–ª—å—à–µ –ø–æ–∫—É–ø—Ü—ñ–≤ –∑ —Ü—ñ–ª—å–æ–≤–æ–≥–æ —Å–µ–≥–º–µ–Ω—Ç—É (—Ü–µ –º–æ–∂—É—Ç—å –±—É—Ç–∏ –∂—ñ–Ω–∫–∏ —ñ –ø—Ä–æ–¥—É–∫—Ç–∏ –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Fashion accessories).

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [9]:
df.rename(columns={'Product line' : 'product_line'}, inplace=True)

In [10]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='product_line', values='Invoice ID', aggfunc='count')

In [11]:
invoices_by_category

product_line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [12]:
max_branch = invoices_by_category['Electronic accessories'].idxmax()
max_value = invoices_by_category['Electronic accessories'].max()

max_branch, max_value

('A', 60)

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ì—ñ–ø–æ—Ç–µ–∑–∞ 1: –ù–∞–π–±—ñ–ª—å—à–µ –ø—Ä–∏–±—É—Ç–∫—É –ø—Ä–∏–Ω–æ—Å—è—Ç—å –ø–æ—Å—Ç—ñ–π–Ω—ñ –ø–æ–∫—É–ø—Ü—ñ
–ì—ñ–ø–æ—Ç–µ–∑–∞ 2: –ù–∞–π–±—ñ–ª—å—à–µ –ø—Ä–∏–±—É—Ç–∫—É –ø—Ä–∏–Ω–æ—Å—è—Ç—å –ø–æ–∫—É–ø—Ü—ñ - –∂—ñ–Ω–∫–∏
–ì—ñ–ø–æ—Ç–µ–∑–∞ 3: –ù–∞–π–±—ñ–ª—å—à—ñ –ø—Ä–∏–±—É—Ç–∫–∏ —Ñ–æ—Ä–º—É—é—Ç—å—Å—è –Ω–∞–ø—Ä–∏–∫—ñ–Ω—Ü—ñ –º—ñ—Å—è—Ü—è

–ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –≥—ñ–ø–æ—Ç–µ–∑–∏ 1:

In [15]:
df.groupby('Customer type')['gross income'].agg(["mean"])

                    mean
Customer type
Member         15.609110
Normal         15.148707

In [16]:
df.groupby('Customer type')['gross income'].agg(["sum"])

                    sum
Customer type
Member         7820.164
Normal         7559.205

–ì—ñ–ø–æ—Ç–µ–∑–∞ 1 –ø—ñ–¥—Ç–≤–µ—Ä–¥–∂–µ–Ω–∞: —Å–µ—Ä–µ–¥–Ω—ñ–π –ø–æ–∫–∞–∑–Ω–∏–∫ –ø—Ä–∏–±—É—Ç–∫—É –Ω–∞ –ø–æ—Å—Ç—ñ–π–Ω–æ–≥–æ –ø–æ–∫—É–ø—Ü—è –±—ñ–ª—å—à–∏–π, –Ω—ñ–∂ –¥–ª—è –∑–≤–∏—á–∞–π–Ω–æ–≥–æ; –∞–Ω–∞–ª–æ–≥—ñ—á–Ω–æ —ñ —Å—É–º–∞ –ø—Ä–∏–±—É—Ç–∫—É –±—ñ–ª—å—à–∞ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤. –†–µ–∑—É–ª—å—Ç–∞—Ç —Ç–∞–∫–æ–≥–æ –æ–±—Ä–∞—Ö—É–Ω–∫—É –º–æ–∂–µ –º–æ—Ç–∏–≤—É–≤–∞—Ç–∏ –±—ñ–∑–Ω–µ—Å –∑–∞–ª—É—á–∞—Ç–∏ –±—ñ–ª—å—à–µ –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ —á–µ—Ä–µ–∑ –∞–∫—Ü—ñ—ó –∞–±–æ —ñ–Ω—à—ñ —ñ–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∏, –∞–¥–∂–µ —Å–∞–º–µ —Ü—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—è –¥–∞—î –ø–æ—Ç–µ–Ω—Ü—ñ–π–Ω–∏–π –ø—Ä–∏—Ä—ñ—Å—Ç –ø—Ä–∏–±—É—Ç–∫—É —É –º–∞–π–±—ñ—Ç–Ω—å–æ–º—É.

–ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –≥—ñ–ø–æ—Ç–µ–∑–∏ 2:

In [17]:
df.groupby('Gender')['gross income'].agg(["mean"])

             mean
Gender
Female  15.956936
Male    14.799487

In [18]:
df.groupby('Gender')['gross income'].agg(["sum"])

             sum
Gender
Female  7994.425
Male    7384.944

–ì—ñ–ø–æ—Ç–µ–∑–∞ 2 –ø—ñ–¥—Ç–≤–µ—Ä–¥–∂–µ–Ω–∞: —Å–µ—Ä–µ–¥–Ω—ñ–π –ø–æ–∫–∞–∑–Ω–∏–∫ –ø—Ä–∏–±—É—Ç–∫—É –¥–ª—è –∂—ñ–Ω–æ–∫ –±—ñ–ª—å—à–∏–π, –Ω—ñ–∂ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤; –∞–Ω–∞–ª–æ–≥—ñ—á–Ω–æ —ñ —Å—É–º–∞ –ø—Ä–∏–±—É—Ç–∫—É –±—ñ–ª—å—à–∞ –¥–ª—è –ø–æ–∫—É–ø—Ü—ñ–≤-–∂—ñ–Ω–æ–∫. –†–µ–∑—É–ª—å—Ç–∞—Ç —Ç–∞–∫–æ–≥–æ –∞–Ω–∞–ª—ñ–∑—É –º–æ–∂–µ –º–æ—Ç–∏–≤—É–≤–∞—Ç–∏ –±—ñ–∑–Ω–µ—Å –∑–∞–ª—É—á–∞—Ç–∏ –±—ñ–ª—å—à–µ –∂—ñ–Ω–æ–∫, —Å—Ç–≤–æ—Ä—é—é—á–∏ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω—É —Ç–∞—Ä–≥–µ—Ç–æ–≤–∞–Ω—É —Ä–µ–∫–ª–∞–º—É —Ç–∞ –ø—ñ–¥—Å–∏–ª—é—é—á—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤, —è–∫—ñ –±—É–¥—É—Ç—å —Ü—ñ–∫–∞–≤—ñ –∂—ñ–Ω–∫–∞–º.

–ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –≥—ñ–ø–æ—Ç–µ–∑–∏ 3:

In [23]:
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')

In [26]:
pd.pivot_table(
    df,
    values='gross income',
    index=df['Date'].dt.day,
    aggfunc='sum'
).sort_values(by='gross income', ascending=False).head(10)

      gross income
Date
15        748.4505
19        708.7255
9         655.5850
14        649.3020
8         643.0370
27        638.0080
5         609.4615
2         602.2265
23        591.8485
3         590.4395

–ì—ñ–ø–æ—Ç–µ–∑–∞ 3 –Ω–µ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∂–µ–Ω–∞, —Ç–æ–∂ –ø—Ä–∏–±—É—Ç–æ–∫ –∑–¥–µ–±—ñ–ª—å—à–æ–≥–æ –Ω–µ —Ñ–æ—Ä–º—É—î—Ç—å—Å—è –Ω–∞–ø—Ä–∏–∫—ñ–Ω—Ü—ñ –º—ñ—Å—è—Ü—è. –î–ª—è –±—ñ–∑–Ω–µ—Å—É —î —Å–µ–Ω—Å –ø–æ—Ä—ñ–≤–Ω—è—Ç–∏ –æ–±—Å—è–≥–∏ –ø—Ä–∏–±—É—Ç–∫—É –∑–∞ —Ç–∏–∂–Ω—è–º–∏, –∞ –ø–æ—Ç—ñ–º —ñ –∑–∞ —Ä–æ–±–æ—á–∏–º–∏ –¥–Ω—è–º–∏ —Ç–∞ –≤–∏—Ö—ñ–¥–Ω–∏–º–∏. –¶–µ –¥–æ–∑–≤–æ–ª–∏—Ç—å –¥–æ–¥–∞—Ç–∏ –±—ñ–ª—å—à–µ –ø—Ä–æ–¥–∞–≤—Ü—ñ–≤-–∫–æ–Ω—Å—É–ª—å—Ç–∞–Ω—Ç—ñ–≤ –≤ –ø–æ—Ç—Ä—ñ–±–Ω—ñ –¥–Ω—ñ, –∞ —Ç–∞–∫–æ–∂ —Å–ø–ª–∞–Ω—É–≤–∞—Ç–∏ –¥–∞—Ç–∏ –∞–∫—Ü—ñ–π —Ç–∞ —Ä–µ–∫–ª–∞–º–Ω–∏—Ö –∫–∞–º–ø–∞–Ω—ñ–π.